<h1># expert-beginner-way</h1>
<p>
es tu female ou male?
<select>
<option>female</option>
<option>male</option>
</select>

</p>
<p>
choisis quelque chose qu'on fait souvent de zero à heros(heroine)
<input />

</p>
<p>
choisis un reseau social
<select>
<option>facebook</option>
<option>twitter</option>
</select>

</p>
<p>
choisis une photo/un enreigstrement de ton activite (voyager, faire du sport, etc.)
<input type="file" />

</p>
<p>
choisis si tu penses tu etais beginner/expert /intermediate, si tu plutot tu decouvre ou non
<select>
<option>debutant</option>
<option>intermediate</option>
<option>confirme</option>
</select>

</p>
